.itin-grid {
  display: grid;
}

.topbar {
  line-height:2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 7px 14px;
}

.topbar span {
  color: #a6a6a6;
  font-weight: bold;
}

.topbar .swap {
  right:0;
}

.topbar .swap .box {
  margin-right: 5px;
}
