#itinerary {
  .grid {
    display: grid;
    width: 100%;
    height: 600px;
  }

  .item {
    overflow: hidden;

    p {
      margin: 2px;
      text-align: center;
    }
  }
}

#itinerary-map {
  display:none;
  position:absolute;
  width: 100%;
  border: 1px solid black;
}

.topbar {
  line-height:2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 7px 14px;
}

.topbar span {
  color: #a6a6a6;
  font-weight: bold;
}

.topbar .swap {
  right:0;
}

.topbar .swap .box {
  margin-right: 5px;
}

.right-panel {
  display: flex;
}

.center {
  display: flex;
  width: 100%;
  justify-content: center;
       
}

.vert {
  position:absolute;
  top:50%;
  right:0;
  left:0;
       
}


