.left-panel{
  background-color: white;

}

.search-container {
    display: flex;
}

.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    margin: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
  }

  #city-input {
    width: 100%;
    text-align: center;
  }
  
  #landmark-search {
    width: 90%;
  }

  #search-icon {
    border-radius:15px;
    width: 10%;
    padding: 10px 0;
    text-align: center;
    height: 70%;
  }

  #search-icon:hover{
      background-color: #e6e6e6;
  }

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

.search-container button:hover {
    background: #ccc;
  }

.destination {
  width:100%;
}

#map {
  display:none;
  height:75%;
  width:40%;
  // border:1px solid black;
  position: absolute;
  margin-top: 6%;
  margin-left: 40%
}

table,
table td {
  border-collapse: separate;
}

.landmarks-table {
  width: 80%;
  margin-left:10%;
}

.landmarks-table td {
  padding: 5px;
}

.landmarks-table tr {
  line-height: 2;
  text-align: left;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.landmarks-table th {
  color:  gray;
  padding: 5px;
}
